<li>
    <a href="/book/<%= book.id %>">
        <div>
            <div>
                <img src="<%= book.image %>"/>
            </div>
            <div>
                <span><%= book.title %></span>
                <span><%= book.author %></span>
                <span><%= book.description %></span>
            </div>
        </div>
    </a>
</li>